.container{
    display: grid;
    gap: 20px;
    padding: 30px;
    background: white;
    grid-template-areas:
        'a a b b c c'
        'a a b b c c'
        'a a b b e e'
        'd d b b e e'
        'd d b b f f'
        'd d b b f f'
        'g g h i i j'
        'g g k i i j'
        'l l l l l l';
}

.container > div {
    padding: 40px;
}

.box1{
    grid-area: a;
    background: #007F5F;
}

.box2{
    grid-area: b;
    background: #80B918;
}

.box3{
    grid-area: c;
    background-color: #DDDF00;
}

.box4{
    grid-area: d;
    background:#2B9348;
}

.box5{
    grid-area: e;
    background: #EEEF20;
}

.box6{
    grid-area: f;
    background: #FFFF3F;
}

.box7{
    grid-area: g;
    background:  #55A630;
}

.box8{
    grid-area: h;
    background:  #AACC00;
}

.box9{
    grid-area: i;
    background:  #D4D700;
}

.box10{
    grid-area: j;
    background:  #007F5F;
}

.box11{
    grid-area: k;
    background:   #007F5F;
}

.box12{
    grid-area: l;
    background:   #9BC1BC;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
}